<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label  style="color: black;" for="hero-name">Hero name: </label>
    <input  style="color: black;" id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    <label  style="color: black;" for="poder">Hero poder: </label>
    <input  style="color: black;" id="poder" [(ngModel)]="hero.poder" placeholder="Hero poder"/>
 
  </div>
  <button  style="color: black" type="button" (click)="goBack()">go back</button>
  <button style="color: black" type="button" (click)="save()">save</button>
</div>
 